# Core
pandas>=2.1

# Add pkgs required by VS Code
ipykernel

# Bloomberg API
#-m pip install --index-url=https://blpapi.bloomberg.com/repository/releases/python/simple blpapi

# Yahoo Finance API
#yfinance --upgrade --no-cache-dir
yfinance

# Visualisation
seaborn
matplotlib>=3.7
plotly
nbformat>=4.2.0
streamlit
dash

# SQL
jupysql>=0.10.4
sqlalchemy>=2.0.23

# Web-Scraping and API Requests
scrapy

# Optimisation
scipy

# Decoding/Reading in Files
unidecode